### Employee Salary

In [37]:
f=open("emp12.txt",'r')
for i in f:
    row=i.split(',')
    salary=int(row[5])
    
    print('Tatal salary for {a} is {b}'.format(a=row[1],b=str(salary)))
    
    DA=salary*0.25
    print('DA is {}'.format(DA))
    
    TZ=salary*0.10
    print('TZ is {}'.format(TZ))
    
    HRA=salary*0.15
    print('HRA is {}'.format(HRA))
    
    CCA=salary*0.09
    print('CCA is {}'.format(CCA))
    
    LIC=salary*0.05
    print('LIC is {}'.format(LIC))
    
    MA=salary*0.02
    print('MA is {}'.format(MA))
    
    Net_salary=DA+TZ+HRA+CCA+LIC+MA
    print('Net salary for {a} is {b}'.format(a=row[1],b=str(Net_salary)))
    print("*"*4**3)

Tatal salary for Sheethal is 25000
DA is 6250.0
TZ is 2500.0
HRA is 3750.0
CCA is 2250.0
LIC is 1250.0
MA is 500.0
Net salary for Sheethal is 16500.0
****************************************************************
Tatal salary for Sonu is 28000
DA is 7000.0
TZ is 2800.0
HRA is 4200.0
CCA is 2520.0
LIC is 1400.0
MA is 560.0
Net salary for Sonu is 18480.0
****************************************************************
Tatal salary for Sandeep is 100000
DA is 25000.0
TZ is 10000.0
HRA is 15000.0
CCA is 9000.0
LIC is 5000.0
MA is 2000.0
Net salary for Sandeep is 66000.0
****************************************************************
Tatal salary for Manoj is 65000
DA is 16250.0
TZ is 6500.0
HRA is 9750.0
CCA is 5850.0
LIC is 3250.0
MA is 1300.0
Net salary for Manoj is 42900.0
****************************************************************
Tatal salary for Prasanna is 15000
DA is 3750.0
TZ is 1500.0
HRA is 2250.0
CCA is 1350.0
LIC is 750.0
MA is 300.0
Net salary for Prasanna is 9900.0
****************************************************************
Tatal salary for Priyanka is 20000
DA is 5000.0
TZ is 2000.0
HRA is 3000.0
CCA is 1800.0
LIC is 1000.0
MA is 400.0
Net salary for Priyanka is 13200.0
****************************************************************
Tatal salary for Shravanthi is 28000
DA is 7000.0
TZ is 2800.0
HRA is 4200.0
CCA is 2520.0
LIC is 1400.0
MA is 560.0
Net salary for Shravanthi is 18480.0
****************************************************************
Tatal salary for Yamini is 19000
DA is 4750.0
TZ is 1900.0
HRA is 2850.0
CCA is 1710.0
LIC is 950.0
MA is 380.0
Net salary for Yamini is 12540.0
****************************************************************
Tatal salary for Chaitanya is 25000
DA is 6250.0
TZ is 2500.0
HRA is 3750.0
CCA is 2250.0
LIC is 1250.0
MA is 500.0
Net salary for Chaitanya is 16500.0
****************************************************************
Tatal salary for Leela Krishna is 26000
DA is 6500.0
TZ is 2600.0
HRA is 3900.0
CCA is 2340.0
LIC is 1300.0
MA is 520.0
Net salary for Leela Krishna is 17160.0
****************************************************************
Tatal salary for Mahender is 60000
DA is 15000.0
TZ is 6000.0
HRA is 9000.0
CCA is 5400.0
LIC is 3000.0
MA is 1200.0
Net salary for Mahender is 39600.0
****************************************************************
Tatal salary for Yelishetty Shankar is 100000
DA is 25000.0
TZ is 10000.0
HRA is 15000.0
CCA is 9000.0
LIC is 5000.0
MA is 2000.0
Net salary for Yelishetty Shankar is 66000.0
****************************************************************
Tatal salary for Swapna is 23000
DA is 5750.0
TZ is 2300.0
HRA is 3450.0
CCA is 2070.0
LIC is 1150.0
MA is 460.0
Net salary for Swapna is 15180.0
****************************************************************
Tatal salary for Nikhil is 25000
DA is 6250.0
TZ is 2500.0
HRA is 3750.0
CCA is 2250.0
LIC is 1250.0
MA is 500.0
Net salary for Nikhil is 16500.0
****************************************************************
Tatal salary for Sai Kumar is 30000
DA is 7500.0
TZ is 3000.0
HRA is 4500.0
CCA is 2700.0
LIC is 1500.0
MA is 600.0
Net salary for Sai Kumar is 19800.0
****************************************************************

In [7]:
salary

'30000'

In [8]:
salary

'30000'